@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --slide-left-duration: 0.3s;
}

.slide-left-enter-from {
  @apply xl:-ml-[320px];
  transform: translateX(-100%);
  opacity: 0;
}
.slide-left-enter-active {
  transition:
    margin-left var(--slide-left-duration) ease,
    transform var(--slide-left-duration) ease,
    opacity var(--slide-left-duration) ease;
}
.slide-left-enter-to {
  transform: translateX(0);
  /*opacity: 1;*/
}

.slide-left-leave-from {
  transform: translateX(0);
  opacity: 1;
}
.slide-left-leave-active {
  transition:
    margin-left var(--slide-left-duration) ease,
    transform var(--slide-left-duration) ease,
    opacity var(--slide-left-duration) ease;
}
.slide-left-leave-to {
  @apply xl:-ml-[320px];
  transform: translateX(-100%);
  /*opacity: 0;*/
}
