{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "singleQuote": false,
  "quoteProps": "preserve",
  "arrowParens": "avoid"
}
