COMPOSE_PROJECT_NAME=quizpet
PROJECT_PREFIX=p-quizpet

FRONTEND_PORT=5001

BACKEND_PORT=5002

CMS_PORT=1337
CMS_HOST=0.0.0.0
CMS_PUBLIC_URL=/cms
CMS_IS_PROXIED=true
CMS_DATABASE_CLIENT=postgres
CMS_DATABASE_NAME=cms
CMS_DATABASE_SSL=false
CMS_DATABASE_SSL_REJECT_UNAUTHORIZED=true
CMS_DATABASE_SCHEMA=public
CMS_DATABASE_POOL_MIN=0
CMS_DATABASE_POOL_MAX=10
CMS_DATABASE_CONNECTION_TIMEOUT=60000
CMS_APP_KEYS=replace-with-four-comma-separated-random-values
CMS_API_TOKEN_SALT=replace-with-random-value
CMS_ADMIN_JWT_SECRET=replace-with-random-value
CMS_JWT_SECRET=replace-with-random-value
CMS_TRANSFER_TOKEN_SALT=replace-with-random-value
CMS_ENCRYPTION_KEY=replace-with-random-value

POSTGRES_PORT=5433
POSTGRES_INTERNAL_PORT=5432
POSTGRES_USER=replace-with-postgres-user
POSTGRES_PASSWORD=replace-with-postgres-password
POSTGRES_DB=db

REDIS_PORT=6379

GOOGLE_CLIENT_ID=replace-with-google-client-id
GOOGLE_CLIENT_SECRET=replace-with-google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:4999/backend/auth/google/redirect
